a  {
  color: #7fff00;
  text-decoration: none;
}
body {
  font-family: monospace;
  background-color: #000000;
  height: 100%;
}

.body_bg {
  background-image:url(technebg.JPG);
  background-position: top;
  background-repeat: no-repeat;
  
}

.HomePage, .GalleryPage, .EventsPage, .MusicPage{
  font-family: monospace;
  color: #ffffff;
  height: 100%;
}
.WelcomeHome{
  font-size: 18px;
  display: flex;
  justify-content: center;
  padding-top: 2%;
  padding-right: 30%;
}
.MenuButtons{
  font-size: 18px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.HomeParag{
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 500px;
}

.Insta{
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Insta img{
  width: 100px;
  height: 100px;
}

.Insta p{
  padding-right: 20px;
}

.UpcomingEvents{
  color: #7fff00;
  font-size: 20px;
  display: flex;
  justify-content: center;
  padding-top: 10%;
}

.EventLoc{
  font-size: 18px;
  padding-left: 38%;
}

.Sad{
  font-size: 50px;
  display: flex;
  justify-content: center;
}

.GalleryText{
  display: flex;
  width: 500px;
  align-items: center;
}
.RaveGifs{
  margin-top: 15px;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.RaveGifs img{
  width: 500px;
  height: 310px;
}

.MusicPage{
 
}
.MusicText{
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*
.SC{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
*/
.SC img{
  width: 200px;
  height: 200px;

}